/*
 * Website CSS by TWALLZ
 * Andrew Chen & Yazeed Zoabi
 * Licensed under Creative Commons
 */

 /* Text Font */

 @import url("font-awesome.min.css");
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

 body
 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 0 0 0.5px rgba(58,57,57,0.25);
}

i{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
/* Links */
a[id=text]
{
  color: #32a782;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-weight: bold;
  -moz-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  text-decoration: none;
  border-bottom: dotted 1px rgba(53,184,143,0.5);
}
a[id=icon]
{
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,0);
  margin: 0px 10px;

}

a:hover
{
  color:#45c79e;
  border-bottom-color: rgba(53,184,143,0);
}
a:focus
{
  color:#fff;
}


/* Button 1, green to lighter */
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn-default
{
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 14pt;
  min-width: 120px;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: relative;
  display: inline-block;
  border: 0;
  background: #32a782;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.btn-default:hover
{
  color: #fff;
  background: #45c79e;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.btn-default:active
{
  background-image:none;
  outline:0;
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

/* Button 2, green (white border) to transparent */
input[type="button"],
input[type="submit"],
input[type="reset"],
.btn-2
{
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 14pt;
  min-width: 120px;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  position: relative;
  display: inline-block;
  border: 0;
  background: #fff;
  color: #333;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.btn-2:hover
{
  color: #fff;
  background: rgba(0,0,0,0);
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.btn-2:active
{
  background-image:none;
  outline:0;
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}


/*
 * Base structure
 */
 * {
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  margin: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.bottomleft {
  float: left; 
padding-right:10px;
padding-top:10px;
position:absolute,
top: 10px;
}
.form-signin {
  font-size: 14pt !important;
  width: 800px;
  padding: 30px 0 0 0;
  margin: 0 auto;
}
.form-signin .form-control {
  display: inline-block;
  float: center;
  width:200px;
  color: #fff;

  margin: 15px;
  position: relative;
  border-radius: 5px;
  height: auto;
  background: rgba(62, 62, 62, 0.5);
  border: 0;
  width: 100%;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  padding: 15px;
  font-size: 18px !important;

}
.form-signin .form-control:focus {
  z-index: 2;
  outline-width: 4px;
  outline-color: #32a782;
}
.form-signin input[type="split"]{
  width: 335px;
}
.form-signin input[id="subject"]{
  width: 700px;
}
.form-signin textarea{
  width: 600px;
  max-width: 700px;
  min-width: 700px;
  min-height: 10em;
  max-height: 20em;
}
.main-title{
  height: 1000px;
}
div[id=image]{
    -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
border: 5px solid white;
}
h1 {
  padding: 0px 0px 30px 0px;
}
hr.style-eight {
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
}
i {
  color: rgba(255, 255, 255,.8);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.transparent {

}
img[id=slider]{

  position: relative;
  z-index: -2;
}
.light{
  color: #f0e6ce;
  font-weight: bold;
}
.dark{
  color: #32a782;
  font-weight: bold;
}

p {
  padding: 0px 0px;
}
p[id=section2]{
  padding: 5px;
    text-align: center;
  max-width: 1000px;
}
.slidertext {
  width: 95%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 20px;
}


/*
 * Header
 */
 .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 *  Header
 */
 #header nav {
  margin: 1.5em 0 0 0;
}

#header nav li {

  display: inline-block;
  height: 5.35em;
  line-height: 5.885em;
  opacity: 100%;
  position: relative;
  top: 0;
  width: 5.35em;
  margin: 30px !important;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

#header nav a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  border: 0;
  display: inline-block;
}

#header nav a:before {    
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(50, 167, 130, .8);
  border-radius: 6px;
  display: block;
  font-size: 1.5em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: 0 1px 3px rgba(0,0,0,.5);

}

#header nav a:hover {
  font-size: 1em;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

#header nav a:hover:before {
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.175);
  color: white;
}

#header nav a:active {
  outline: 0;
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  background-color: rgba(255, 255, 255, 0.175);
  color: white;
  background: none;
  -moz-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -webkit-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -o-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -ms-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  transition: background-color 0s ease-in-out, color 0s ease-in-out;
}

#header nav a:active:before {
  -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
  background-color: rgba(255, 255, 255, 0.175);
  color: white;
  background: none;
  -moz-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -webkit-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -o-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  -ms-transition: background-color 0s ease-in-out, color 0s ease-in-out;
  transition: background-color 0s ease-in-out, color 0s ease-in-out;
}
#header nav a.transparent:before {
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  color: #32a782;
  background-color: rgba(255, 255, 255, 0.8);

}
#header nav a.transparent:hover:before {
  background-color: rgba(255, 255, 255, 0.175);
  color: white;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;

}
#header nav a.transparent:active:before {
 -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 background-color: rgba(255, 255, 255, 0.175);
 color: white;
 background: none;
 -moz-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -webkit-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -o-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -ms-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 transition: background-color 0s ease-in-out, color 0s ease-in-out;
}
#header nav a.transparent:active {
 -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -moz-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -ms-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 -o-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
 background-color: rgba(255, 255, 255, 0.175);
 color: white;
 background: none;
 -moz-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -webkit-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -o-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 -ms-transition: background-color 0s ease-in-out, color 0s ease-in-out;
 transition: background-color 0s ease-in-out, color 0s ease-in-out;

}

#header nav a span {
  display: none;
}


#header-cover {
  height:100vh !important;
  width: 100%;
  background-image: url(../img/unsplash2.jpg);
  -webkit-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  box-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
}
#scroll-notifier {
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  text-align: center;
  margin: 0 auto !important;
  width: 100%;
  height: 50px;
}
.visible {
  color: rgba(255, 255, 255, 0.8);
}
.invisible {
  color: rgba(255, 255, 255, 0);
}

/*
 *  Section Configurations
 */

 #about,
 #section4 {
  z-index: 999999;
  min-height: 400px;
}
#footer {
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
  -o-box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
  -ms-box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.9);
}

#grid {
  -webkit-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  background-image: url(../img/unsplash6.jpg);
}

#nyancat {
  -webkit-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  box-shadow: inset 0px 20px 25px -20px rgba(0,0,0,0.9), inset 0px -20px 25px -20px rgba(0,0,0,0.9);
  background-image: url(../img/unsplash3.jpg);
}
#nyancontainer,
#gridcontainer{
  padding: 60px 0;
  margin: 100px 200px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  background: #333 url('../img/GPlay.svg') top center repeat !important;
  border-radius: 10px;
  vertical-align: middle;
}
#projects {
  background-image: url(../img/unsplash7small.jpg);
}



/* background setup */
.background {
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-position:50% 50%\9 !important;
}
.vectbackground {
  background: #32a782 url('../img/section2.svg');
}

/* fullscreen setup */
.fullscreen,
.content-a {
  width:100%;
  min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
  height:100%;
  overflow:hidden;
}

/* content centering styles */
.content-a {
  display:table;
}
.content-a[id=absolute]{
  position: absolute;
}
.content-b {
  display:table-cell;
  position:relative;
  vertical-align:middle;
  text-align:center;
}

/* visual styles */
section {
  background:#9ed100;
}
.not-fullscreen {
  height:50%;
}

/*
 * Cover
 */

 .cover {
  padding: 0px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

 .mastfoot {
  font-size: 14px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.7);
  background: #333 url('../img/GPlay.svg');
}


/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: static;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
}

/* bootstrap css */

.col-md-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container-fluid:before, .container-fluid:after, .row:before, .row:after{
  display: table;
  content: " ";
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container:after, .container-fluid:after, .row:after{
  clear: both;
}